.DS_Store
plugin/bin/*
plugin/gen
unity/Library/*
unity/Temp
!EditorBuildSettings.asset
!InputManager.asset
!ProjectSettings.asset
!QualitySettings.asset
!TagManager.asset
!TimeManager.asset
!AudioManager.asset
!DynamicsManager.asset
!NetworkManager.asset
